header {
  #navbar {
    background-color: $background-color;
    #navbar_container {
      img {
        width: 80px;
      }
      #navbarNav {
        ul {
          li {
            a {
              color: $font-color;
              font-size: 16px;
              font-weight: 300;
              &:hover {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
